* {
    box-sizing:border-box;
}
body{
    background-color: black;
}
button {

            background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;

        }
.main-container{
    border: 1px solid white;
    width:100%;
    height:100%;
    margin: 0px 0px 0px 0px;
}
.chatbox-outer{
    border:1px solid greenyellow;
    border-radius: 35px;
    margin: auto auto auto auto;
    margin-top:30px;
    min-width:450px;
    min-height:450px;
    width:40%;
    height:85%;
    background: url(../chatbg.jpg);
    
    background-position: left top;
    background-repeat: repeat;

}
.chatbox-inner{
    border:1px solid greenyellow;
    border-radius: 35px;
    margin: auto auto auto auto;
    
    background: transparent;
    
    background-position: left top;
    background-repeat: repeat;
}
.top-bar{
    background-color: rgba(193, 66, 66, 0.63);
    padding-top:10px;
    padding-bottom: 10px;
    
    height:15%;
    border-radius: 35px 35px 0px 0px;

}
.chat-box{
    border:1px solid red;
    height:75%;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.63);

}
.type-box{
    border:1px solid darkblue;
    height:10%;
    border-radius: 0px 0px 35px 35px;
    background-color: rgba(255, 255, 255, 0.63);

}
.return-nav{
    margin-top:15px;
    margin-left:4%;
    width:6%;

    display:inline-block;
    vertical-align: 
} 
.return-nav input{
    height:25px;
    width:25px;
}
.chat-title{
    width:77%;
    min-width:64%;
    display:inline-block;
} 
.chat-options{
    margin-top:15px;
    margin-right:4%;
    width:6%;
    display:inline-block;
}
.chat-options input{
    height:25px;
    width:25px;
}
#texttosend{
    margin-left:7%;
    margin-right:auto;
    width:75%;
    height:80%;
    border-style: outset;
    resize :none;
    background-color: transparent;
    color: black;

}
.send-msg {
     margin-top:15px;
    margin-left:3%;
    width:43px;

    display:inline-block;
    vertical-align: 
}
@media only screen and (max-width: 500px) {
    .chatbox-outer{
               
    }
}